@media screen and (max-width: 100vh){
	/* iPhone Screen */
	.home-container{
		background-color: #000000;
		height: 200vw;
		width: 100%;
		top: 0px;
	}

	.home-bg{
		z-index: 3;
		background-color: transparent;
		width: 100%;
		height: 200vw;
		top: 0px;
		opacity: 15%;
		mix-blend-mode: normal;
		object-position: right bottom;
		position: absolute;
		min-height: 300px;
	}

	.home-image {
		z-index: 3;
		background-color: transparent;
		width: 80vw;
		height: auto;
		left: 12vw;
		top: 23vw; 
		bottom: 0px;
		mix-blend-mode: normal;
		object-position: right bottom;
		position: absolute;
	}

	.home-title {
		z-index: 3;
		position: absolute;
		color: #ffffff;
		font-family: "LuloCleanOne-Bold-☞", Helvetica;
		font-size: 9vw;
		font-style: normal;
		font-weight: 300;
		height: auto;
		left: 10%;
		letter-spacing: 0.00px;
		line-height: normal;
		mix-blend-mode: normal;
		text-align: left;
		top: 98vw;
		width: auto;
	}

	.home-subtitle{
		z-index: 3;
		position: absolute;
		color: #ffffff;
		font-family: "Montserrat", Helvetica;
		font-size: 4.5vw;
		font-style: normal;
		font-weight: 300;
		height: auto;
		left: 10%;
		letter-spacing: 0.00px;
		line-height: normal;
		mix-blend-mode: normal;
		text-align: left;
		top: 140vw;
		width: auto;	
	}
	.home-subtitle > .txt{
		border-right: 0.3rem solid #ffffff;
		animation: blinkTextCursor 500ms steps(40) infinite normal;
	}
	@keyframes blinkTextCursor{
		from{
			border-right-color: #ffffff;
		}
		to{
			border-right-color: transparent;
		}
	}

	.navbox-container{
		z-index: 4;
		background-color: transparent;
		left: 0px;
		position: fixed;
		top: -10px;
		width: 100%;
	}

	.navbox-background{
		z-index: 4.5;
		background-color: #ffffff;
		opacity: 8%;
		box-shadow: 0px 4px 8px #00000040;
		height: 5vw;
		left: 0px;
		mix-blend-mode: normal;
		position: absolute;
		top: 6px;
		width: 100%;
	}


	.navbox-text-home{
		z-index: 5;
		background-color: transparent;
		height: auto;
		letter-spacing: 0.00px;
		line-height: normal;
		mix-blend-mode: normal;
		position: absolute;
		text-align: center;
		top: 2vw;
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #ffffff;
		font-family: "Reem Kufi";
		font-size: 1.6vw;
		font-style: normal;
		text-decoration: none;
		transition: 0.1s;
		left: 43.5%;
		}
	
	.navbox-text-home:hover{
		padding-bottom: 0.2rem;
		border-bottom: 0.17rem solid #2AF5F6;
		left: 43.5%;
	}

	.navbox-text-edu{
		z-index: 5;
		background-color: transparent;
		height: auto;
		letter-spacing: 0.00px;
		line-height: normal;
		mix-blend-mode: normal;
		position: absolute;
		text-align: center;
		top: 2vw;
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #ffffff;
		font-family: "Reem Kufi";
		font-size: 1.6vw;
		font-style: normal;
		text-decoration: none;
		transition: 0.1s;
		left: 51%;
	}
	
	.navbox-text-edu:hover{
		padding-bottom: 0.2rem;
		border-bottom: 0.17rem solid #2AF5F6;
		left: 51%;
	}

	.navbox-text-skills{
		z-index: 5;
		background-color: transparent;
		height: auto;
		letter-spacing: 0.00px;
		line-height: normal;
		mix-blend-mode: normal;
		position: absolute;
		text-align: center;
		top: 2vw;
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #ffffff;
		font-family: "Reem Kufi";
		font-size: 1.6vw;
		font-style: normal;
		text-decoration: none;
		transition: 0.1s;
		left: 61%;
		}
	
	.navbox-text-skills:hover{
		padding-bottom: 0.2rem;
		border-bottom: 0.17rem solid #2AF5F6;
		left: 61%;
	}

	.navbox-text-exp{
		z-index: 5;
		background-color: transparent;
		height: auto;
		letter-spacing: 0.00px;
		line-height: normal;
		mix-blend-mode: normal;
		position: absolute;
		text-align: center;
		top: 2vw;
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #ffffff;
		font-family: "Reem Kufi";
		font-size: 1.6vw;
		font-style: normal;
		text-decoration: none;
		transition: 0.1s;
		left: 67.5%;
	}
	
	.navbox-text-exp:hover{
		padding-bottom: 0.2rem;
		border-bottom: 0.17rem solid #2AF5F6;
		left: 67.5%;
	}

	.navbox-text-portfolio{
		z-index: 5;
		background-color: transparent;
		height: auto;
		letter-spacing: 0.00px;
		line-height: normal;
		mix-blend-mode: normal;
		position: absolute;
		text-align: center;
		top: 2vw;
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #ffffff;
		font-family: "Reem Kufi";
		font-size: 1.6vw;
		font-style: normal;
		text-decoration: none;
		transition: 0.1s;
		left: 78%;
		}
	
	.navbox-text-portfolio:hover{
		padding-bottom: 0.2rem;
		border-bottom: 0.17rem solid #2AF5F6;
		left: 78%;
	}

	.navbox-text-contact{
		z-index: 5;
		background-color: transparent;
		height: auto;
		letter-spacing: 0.00px;
		line-height: normal;
		mix-blend-mode: normal;
		position: absolute;
		text-align: center;
		top: 2vw;
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: #ffffff;
		font-family: "Reem Kufi";
		font-size: 1.6vw;
		font-style: normal;
		text-decoration: none;
		transition: 0.1s;
		left: 87%;
	}
	
	.navbox-text-contact:hover{
		padding-bottom: 0.2rem;
		border-bottom: 0.17rem solid #2AF5F6;
		left: 87%;
	}
	
	.education-container{
		background-color: #00063A;
		height: 200vw;
		left: 0px;
		position: absolute;
		top: 200vw;
		width: 100%;
	}

	.education-title-edu{
		z-index: 3;
		background-color: transparent;
		color: #ffffff;
		height: auto;
		left: 15vw;
		position: absolute;
		top: 20vw;
		width: auto;
		font-family: "LuloCleanOne-Bold-Regular", Helvetica;
		font-size: 9vw;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 0px;
		text-align: center;
	}

	.education-title-02{
		top: 20vw;
		z-index: 3;
		background-color: transparent;
		color: #00d1ff;
		height: auto;
		left: 7.5vw;
		position: absolute;
		font-family: "LuloCleanOne-Bold-☞", Helvetica;
		font-size: 4vw;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 0px;
		text-align: center;
		width: auto;
	}

	.edu-bodyline{
		z-index: 3;
		background-color: transparent;
		height: 90vw; 
		width: 60.6vw;
		top: 35vw; 
		left: 18vw; 
		position: absolute;

	}
	
	/* Kanaan Global School */
	.edu-subtitle-kanaan1{
		z-index: 3;
		background-color: transparent;
		position: absolute;
		height: auto;
		width: auto;
		font-family: "LuloCleanOne-Bold-☞", Helvetica;
		color: #ffffff;
		font-size: 1.75vw;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 0px;
		text-align: left;
		top: 58vw;
		left: 70vw;
	}

	.edu-subtitle-kanaan2{
		z-index: 3;
		background-color: transparent;
		position: absolute;
		height: auto;
		width: auto;
		font-family: "LuloCleanOne-Bold-☞", Helvetica;
		color: #ffffff;
		font-size: 1.75vw;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 0px;
		text-align: left;
		top: 60vw;
		left: 70vw;
	}

	.edu-text-kanaan1{
		z-index: 3;
		background-color: transparent;
		position: absolute;
		height: auto;
		width: auto;
		font-family: "Roboto", Helvetica;
		color: #ffffff;
		font-size: 1.7vw;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 0px;
		text-align: left;
		top: 62.5vw;
		left: 70vw;
	}

	.edu-text-kanaan2{
		z-index: 3;
		background-color: transparent;
		position: absolute;
		height: auto;
		width: auto;
		font-family: "Roboto", Helvetica;
		color: #00d1ff;
		font-size: 1.7vw;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 0px;
		text-align: left;
		top: 62.5vw;
		left: 87vw;
	}

	.edu-text-kanaan3{
		z-index: 3;
		background-color: transparent;
		position: absolute;
		height: auto;
		width: auto;
		font-family: "Roboto", Helvetica;
		color: #ffffff;
		font-size: 1.75vw;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 0px;
		text-align: left;
		top: 65vw;
		left: 70vw;
	}

	.edu-text-kanaan4{
		z-index: 3;
		background-color: transparent;
		position: absolute;
		height: auto;
		width: auto;
		font-family: "Roboto", Helvetica;
		color: #00d1ff;
		font-size: 1.7vw;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 0px;
		text-align: left;
		top: 65vw;
		left: 87vw;
	}

	.edu-kanaan-logo{
		z-index: 3;
		background-color: transparent;
		top: 56vw;
		left: 55vw;
		height: 15vw;
		width: auto;
		position: absolute;
	}

	.edu-kanaan-logo:hover{
		z-index: 3;
		background-color: transparent;
		top: 56vw;
		left: 55vw;
		height: 16vw;
		width: auto;
		position: absolute;
	}

	/* Laurensia */
	.edu-subtitle-loren1{
		z-index: 3;
		background-color: transparent;
		position: absolute;
		height: auto;
		width: auto;
		font-family: "LuloCleanOne-Bold-☞", Helvetica;
		color: #ffffff;
		font-size: 1.75vw;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 0px;
		text-align: left;
		top: 82vw;
		left: 3vw;
	}

	.edu-subtitle-loren2{
		z-index: 3;
		background-color: transparent;
		position: absolute;
		height: auto;
		width: auto;
		font-family: "LuloCleanOne-Bold-☞", Helvetica;
		color: #ffffff;
		font-size: 1.75vw;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 0px;
		text-align: left;
		top: 84vw;
		left: 9vw;
	}

	.edu-text-loren1{
		z-index: 3;
		background-color: transparent;
		position: absolute;
		height: auto;
		width: auto;
		font-family: "Roboto", Helvetica;
		color: #ffffff;
		font-size: 1.7vw;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 0px;
		text-align: left;
		top: 86.5vw;
		left: 13vw;
	}

	.edu-text-loren2{
		z-index: 3;
		background-color: transparent;
		position: absolute;
		height: auto;
		width: auto;
		font-family: "Roboto", Helvetica;
		color: #00d1ff;
		font-size: 1.7vw;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 0px;
		text-align: left;
		top: 86.5vw;
		left: 2vw;
	}

	.edu-loren-logo{
		z-index: 3;
		background-color: transparent;
		top: 78.5vw;
		left: 28vw;
		height: 15vw;
		width: auto;
		position: absolute;
	}

	.edu-loren-logo:hover{
		z-index: 3;
		background-color: transparent;
		top: 78.5vw;
		left: 28vw;
		height: 16vw;
		width: auto;
		position: absolute;
	}

	/* UOW */
	.edu-subtitle-uow1{
		z-index: 3;
		background-color: transparent;
		position: absolute;
		height: auto;
		width: auto;
		font-family: "LuloCleanOne-Bold-☞", Helvetica;
		color: #ffffff;
		font-size: 1.75vw;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 0px;
		text-align: left;
		top: 108vw;
		left: 70vw;
	}

	.edu-subtitle-uow2{
		z-index: 3;
		background-color: transparent;
		position: absolute;
		height: auto;
		width: auto;
		font-family: "LuloCleanOne-Bold-☞", Helvetica;
		color: #ffffff;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 0px;
		text-align: left;
		top: 110vw;
		left: 70vw;
	}

	.edu-text-uow1{
		z-index: 3;
		background-color: transparent;
		position: absolute;
		height: auto;
		width: auto;
		font-family: "Roboto", Helvetica;
		color: #ffffff;
		font-size: 1.7vw;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 0px;
		text-align: left;
		top: 113vw;
		left: 70vw;
	}

	.edu-text-uow2{
		z-index: 3;
		background-color: transparent;
		position: absolute;
		height: auto;
		width: auto;
		font-family: "Roboto", Helvetica;
		color: #00d1ff;
		font-size: 1.7vw;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 0px;
		text-align: left;
		top: 115vw;
		left: 70vw;
	}

	.edu-uow-logo{
		z-index: 3;
		background-color: transparent;
		top: 105.5vw;
		left: 55vw;
		height: 15.1vw;
		width: auto;
		position: absolute;
	}

	.edu-uow-logo:hover{
		z-index: 3;
		background-color: transparent;
		top: 105.5vw;
		left: 55vw;
		height: 16vw;
		width: auto;
		position: absolute;
	}
	
	.edu-subtitle{
		z-index: 3;
		background-color: transparent;
		position: absolute;
		height: auto;
		width: auto;
		font-family: "LuloCleanOne-Bold-☞", Helvetica;
		color: #ffffff;
		font-size: 1.5vw;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 0px;
		text-align: left;
	}

	.edu-text{
		z-index: 3;
		background-color: transparent;
		position: absolute;
		height: auto;
		width: auto;
		font-family: "Roboto", Helvetica;
		color: #ffffff;
		font-size: 1.2vw;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 0px;
		text-align: left;
	}

	.edu-button-container{
		z-index: 3;
		border: thick;
		border-style: solid;
		border-color: #33FD63;
		border-width: 2px;
		background-color: transparent;
		position: absolute;
		width: 45vw;
		height: 12vw;
		left: 26vw;
		top: 140vw;
		transition: 0.2s;
	}
	.edu-button-container:hover{
		background-color: #33FD63;
		color: #324158;
	}

	.edu-button-text{
		z-index: 3.5;
		position: absolute;
		height: 100%;
		width: 100%;
		color: #ffffff;
		font-family: "Montserrat", Helvetica;
		font-size: 5vw;
		font-style: normal;
		font-weight: 400;
		letter-spacing: 0px;
		text-align: center;
		top: 20%;
		left: 1%;
		transition: 0.2s;
	}

	.edu-button-text:hover{
		color: #324158;
	}

	.footer-container{
		background-color: #000000;
		height: 30vw;
		width: 100%;
		top: 400vw;
		position: absolute;
	}

	.footer-title{
		z-index: 3;
		position: absolute;
		color: #ffffff;
		font-family: "Menlo";
		font-size: 6vw;
		font-style: normal;
		height: auto;
		left: 22%;
		text-align: center;
		top: 4vw;
		width: auto;
	}

	.footer-copyright{
		z-index: 3;
		position: absolute;
		color: #ffffff;
		font-family: "Menlo";
		font-size: 3vw;
		font-style: normal;
		height: auto;
		left: 18%;
		text-align: center;
		top: 25vw;
		width: auto;
	}

	.footer-menu{
		z-index: 3;
		position: absolute;
		color: #ffffff;
		font-family: "Menlo";
		font-size: 2.5vw;
		font-style: normal;
		height: auto;
		text-align: center;
		top: 12.5vw;
		width: auto;
		text-decoration: none;
	}
	.footer-menu:hover{
		color: #008cff;
	}

	.footer-home{
		left: 8vw;
	}

	.footer-edu{
		left: 18vw;
	}
	
	.footer-skills{
		left: 35vw;
	}

	.footer-exp{
		left: 47vw;
	}

	.footer-portfolio{
		left: 65.5vw;
	}

	.footer-contact{
		left: 82vw;
	}

	.footer-icon{
		position: absolute;
		top: 17vw;
		color: #ffffff;
		font-size: 5vw;
		text-decoration: none;
	}

	.footer-icon:hover{
		color: #008cff;
	}
	
	.footer-instagram{
		left: 22%;
	}

	.footer-github{
		left: 32%;
	}

	.footer-linkedin{
		left: 42%;
	}	

	.footer-twitter{
		left: 52%;
	}	

	.footer-discord{
		left: 62%;
	}	

	.footer-wa{
		left: 72%;
	}
}